*~
extras/FLSC2SC/build/
extras/FLSC2SC/src/*.o
recordings/
catalog/*
!catalog/hauteur-temps/
catalog/*/build/
catalog/*/src/
!catalog/wav2flac.sh
synthdefs/
#recordings/*.wav
#recordings/*.WAV
#recordings/FLSC-osc

